<div class="items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-96">

    <h1 class="text-2xl font-semibold mb-6">New project</h1>

<%= render "form", project: @project %>


    <br>

    <div class="text-center">
      <%= link_to "Back to projects", projects_path, class: "text-blue-600 hover:underline" %>
    </div>
  </div>
</div>
