<!-- Assuming you have already included the Tailwind CSS links in your HTML -->
<div class="">
  <h2 class="text-3xl font-bold text-purple-600 mb-6">Create New Task</h2>

<%= render "form" %>

  <%= link_to "Back to List", project_todos_path(@project), class: "" %>
</div>
